<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RequestRelayServlet</servlet-name>
        <servlet-class>de.imbei.httpqueueserver.RequestRelayServlet</servlet-class>
        <init-param>
            <param-name>requestProcessingTimeoutSeconds</param-name>
            <param-value></param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestRelayServlet</servlet-name>
        <url-pattern>/relay/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PopRequestServlet</servlet-name>
        <servlet-class>de.imbei.httpqueueserver.PopRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseServlet</servlet-name>
        <servlet-class>de.imbei.httpqueueserver.ResponseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PopRequestServlet</servlet-name>
        <url-pattern>/pop-request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseServlet</servlet-name>
        <url-pattern>/response</url-pattern>
    </servlet-mapping>
</web-app>
